h2.login-title{
    color: #607D8B;
    font-weight: bold;
    text-align: center;
}

.login{
    margin: auto;
    padding-top: 10px;
}

div.login{
    padding-top: 200px;
}

.input-width01{
    width: 240px;
    height: 30px;
}

.input-width02{
    width: 150px;
    height: 30px;
}

.captcha-click{
    color: blue;
    padding-left: 10px;
}

.login-submit{
    border: 1px;
    width: 81px;
    height: 30px;
    color: blue;
    background: cornflowerblue;
}

.admin-info{
    padding-top: 10px;
}

.admin-nickname {
    color: turquoise;
    margin-right: 10px;
    margin-left: 1050px;
}

.admin-title{
    color: deepskyblue;
    font-size: 30px;
}

.logout{
    color: gray;
    font-size: small;
}

.group-icon{
    width: 70px;
    height: 70px;
}