<div>
    <h2 class="login-title">{$group_info.group_id ? '修改' : '新增'}管理员组</h2>
    <form action="/admin/group/update?group_id={$group_info.group_id ? $group_info.group_id : 0}"
          method="post">
        <table class="login">
            <tr>
                <td><label>组名称</label>：</td>
                <td>
                    <input type="text"
                           name="group_name"
                           class="input-width01"
                           value="{$group_info.group_name ? $group_info.group_name : ''}">
                </td>
            </tr>
            <tr>
                <td><label>组图标</label>：</td>
                <td>
                    <input type="text"
                           name="icon"
                           value="{$group_info.icon ? $group_info.icon : ''}">
                </td>
            </tr>
            <tr>
                <td><label>组权限</label>：</td>
                <td>
                    <input type="text"
                           name="group_permission"
                           class="input-width01"
                           value="">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit"
                           name="submit"
                           value="提交"
                           class="login-submit">
                </td>
            </tr>
        </table>
    </form>
</div>